spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/user_details
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8081

jwt:
  secret: jobportal-secret-key-256-bit-length-required-123456
  expiration: 3600000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
