spring:
  application:
    name: service

  datasource:
    url: jdbc:postgresql://localhost:5432/user_details
    username: postgres
    password: password

  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
